import pandas as pd
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
from dash import Dash, html, dcc, dash

def criar_grafico(df):

    # Histograma
    fig1 = px.histogram(df, x='Qtd_Vendidos_Cod', color='Marca', nbins=30, title='Quantidade de Vendidos')

    #Grafico Pizza
    fig2 = px.pie(df, names='Qtd_Vendidos_Cod', color='Marca', hole=0.2, title='Quantidade de Vendidos', color_discrete_sequence=px.colors.sequential.Purples)

    

    return fig1, fig2

def criar_app(df):
    app = Dash(__name__)

    fig1, fig2 = criar_grafico(df)

    app.layout = html.Div([
        dcc.Graph(figure=fig1),
        dcc.Graph(figure=fig2)
    ])
    return app

df = pd.read_csv('ecommerce_estatistica.csv')

if __name__ == '__main__':
    app = criar_app(df)
    app.run(debug=True, port=8050)
